{% extends 'base/base.html' %}

{% block title %}{{ employee.name }}{% endblock title %}

{% block main %}
    <section class="m-3 p-3">
        <form hx-post="{% url 'hrm:employee_update' employee.id %}">
            {% csrf_token %}
            <div class="block p-1">
                <h3 class="text-center">Employee</h3>
                <div class="d-flex justify-content-end m-3">
                    <button hx-get="{% url 'hrm:employee_detail' employee.id %}" type="button" class="btn btn-sm btn-outline-black m-1" data-mdb-ripple-color="black">Cancel</button>
                    <button type="submit" class="btn btn-black m-1" data-mdb-ripple-color="black">Save</button>
                </div>
                <div class="m-1">
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                    <div class="form-outline">
                        <label for="id_name">Name:</label>
                        <input type="text" name="name" value="{{ employee.name }}" maxlength="50" required id="id_name">
                    </div>
                    <div class="form-outline">
                        <label for="id_gender">Gender:</label>
                        <select name="gender" required id="id_gender">
                            {% for gender in form.gender.field.choices %}
                                {% if gender.0 == None %}
                                    <option value="" selected disabled>Select Gender</option>
                                {% else %}
                                    {% if gender.0 != '' %}
                                        <option value="{{ gender.0 }}" {% if gender.0 == employee.gender %}selected{% endif %}>{{ gender.1 }}</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-outline">
                        <label for="id_dob">Birthday:</label>
                        <input type="date" name="dob" value="{{ employee.dob|date:'Y-m-d' }}" required id="id_dob">
                    </div>
                    <div class="form-outline">
                        <label for="id_distinct_mark">Distinct mark:</label>
                        <input type="text" name="distinct_mark" value="{% if employee.father != None %}{{ employee.distinct_mark }}{% endif %}" maxlength="50" id="id_distinct_mark">
                    </div>
                    <div class="form-outline">
                        <label for="id_father">Father:</label>
                        <input type="text" name="father" value="{% if employee.father != None %}{{ employee.father }}{% endif %}" maxlength="50" id="id_father">
                    </div>
                    <div class="form-outline">
                        <label for="id_mother">Mother:</label>
                        <input type="text" name="mother" value="{% if employee.mother != None %}{{ employee.mother }}{% endif %}" maxlength="50" id="id_mother">
                    </div>
                    <div class="form-outline">
                        <label for="id_phone">Phone:</label>
                        <input type="number" name="phone" value="{{ employee.phone }}" required id="id_phone">
                    </div>
                    <div class="form-outline">
                        <label for="id_exact_address">Exact address:</label>
                        <textarea name="exact_address" cols="40" rows="10" id="id_exact_address">{{ employee.exact_address }}
                        </textarea>
                    </div>
                    <div class="form-outline">
                        <label for="id_payment">Payment:</label>
                        <select name="payment" id="id_payment">
                            <option value="" selected disabled>Select Payment</option>
                            {% for payment in form.payment.field.queryset.all %}
                                <option value="{{ payment.pk }}" {% if payment.pk == employee.payment.pk %}selected{% endif %}>{{ payment.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-outline">
                        <label for="id_position">Position:</label>
                        <select name="position" id="id_position">
                            <option value="" selected disabled>Select Position</option>
                            {% for position in form.position.field.queryset.all %}
                                <option value="{{ position.pk }}" {% if position.pk == employee.position.pk %}selected{% endif %}>{{ position }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-outline">
                        <label for="id_remark">Remark:</label>
                        <textarea name="remark" cols="40" rows="10" id="id_remark">
                            {{ employee.remark }}
                        </textarea>
                    </div>
                    <div class="form-outline">
                        <label for="id_photo">Photo:</label>
                        Currently: <a href="/uploads/employee/profile-picture.jpg">employee/profile-picture.jpg</a>
                        <input type="checkbox" name="photo-clear" id="photo-clear_id">
                        <label for="photo-clear_id">Clear</label><br>
                        Change:
                        <input type="file" name="photo" accept="image/*" id="id_photo">
                    </div>
                </div>
            </div>
        </form>
    </section>
{% endblock main %}