{% extends 'base/base.html' %}

{% load static %}

{% block title %}{{ employee.name }}{% endblock title %}

{% block main %}

    <section>
        <div class="container py-5">
    
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="{% if employee.photo %}{{ employee.photo.url }}{% else %}{% static 'hrm/profile_photo.jpg' %}{% endif %}" style="width: 150px;">
                            <h5 class="my-3">{{ employee.name }}</h5>
                            {% if employee.position != None%}
                                <p class="text-muted mb-1">{{ employee.position }} - {{ employee.position.team }}</p>
                                <p class="text-muted mb-4">{{ employee.position.team.department }}</p>
                            {% endif %}
                            <div class="d-flex justify-content-center mb-2 my-3">
                                <button type="button" class="btn btn-outline-black">Edit</button>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4 mb-lg-0">
                        <div class="card-header">
                            <h3 class="text-center">Information</h3>
                        </div>
                        <div class="card-body p-0">
                            <ul class="list-group list-group-flush rounded-3">
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    ID
                                    <p class="mb-0">{{ employee.id }}</p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    NRC
                                    <p class="mb-0">{{ employee.identity.nrc_no }}</p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    Payment
                                    {% if employee.payment != None%}
                                        <p class="mb-0">{{ employee.payment }}</p>
                                    {% endif %}
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    Position
                                    {% if employee.position != None%}
                                        <p class="mb-0">{{ employee.position }}</p>
                                    {% endif %}
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    Team
                                    {% if employee.position != None%}
                                        <p class="mb-0">{{ employee.position.team }}</p>
                                    {% endif %}
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    Department
                                    {% if employee.position != None%}
                                        <p class="mb-0">{{ employee.position.team.department }}</p>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h3 class="text-center">About</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Full Name</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ employee.name }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Gender</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ employee.gender }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Distinct Mark</p>
                                </div>
                                <div class="col-sm-9">
                                    {% if employee.distinct_mark != None%}
                                        <p class="text-muted mb-0">{{ employee.distinct_mark }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Father</p>
                                </div>
                                <div class="col-sm-9">
                                    {% if employee.father != None%}
                                        <p class="text-muted mb-0">{{ employee.father }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Mother</p>
                                </div>
                                <div class="col-sm-9">
                                    {% if employee.mother != None%}
                                        <p class="text-muted mb-0">{{ employee.mother }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ employee.user.email }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Phone</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ employee.phone }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Date of Birth</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ employee.dob }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Address</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ employee.exact_address }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Remark</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ employee.remark }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card mb-4 mb-md-0">
                                <div class="card-header">
                                    <h3 class="text-center">Experience</h3>
                                </div>
                                <div class="card-body">
                                    {% for experience in employee.experience_set.all %}
                                        <div class="flex-grow-1 ms-3">
                                            <p class="mb-1"><span class="text-muted">Position</span> - {{ experience.designation }}</p>
                                            <p class="mb-1"><span class="text-muted">Company</span> - {{ experience.company }}</p>
                                            <p class="mb-1"><span class="text-muted">From</span> - {{ experience.from_date }}</p>
                                            <p class="mb-1"><span class="text-muted">To</span> - {% if experience.current_job %}Current{% else %}{{ experience.to_date }}{% endif %}</p>
                                            <p class="mb-1"><span class="text-muted">Remark</span> - {{ experience.remark }}</p>
                                        </div>
                                        <hr>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-4 mb-md-0">
                                <div class="card-header">
                                    <h3 class="text-center">Qualification</h3>
                                </div>
                                <div class="card-body">
                                    {% for qualification in employee.qualification_set.all %}
                                        <div class="flex-grow-1 ms-3">
                                            <p class="mb-1"><span class="text-muted">Qualification</span> - {{ qualification.qualification }}</p>
                                            <p class="mb-1"><span class="text-muted">Institude</span> - {{ qualification.institute }}</p>
                                            <p class="mb-1"><span class="text-muted">Year</span> - {{ qualification.Year }}</p>
                                        </div>
                                        <hr>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock main %}