{% extends 'base/datatable.html' %}

{% block title %}Employee List{% endblock title %}

{% block thead %}
    <th>id</th>
    <th>name</th>
    <th>email</th>
    <th>phone</th>
    <th>gender</th>
    <th>nrc</th>
    <th>position</th>
    <th>dob</th>
    <th>remark</th>
    <th>action</th>
{% endblock thead %}

{% block tbody %}
    {% for employee in employee_list %}
        <tr>
            <td>{{ employee.id }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.user.email }}</td>
            <td>{{ employee.phone }}</td>
            <td>{{ employee.gender }} </td>
            <td>
                {% if employee.identity != None%}
                    {{ employee.identity.nrc_no }}
                {% endif %}
            </td>
            <td>
                {% if employee.position != None%}
                    {{ employee.position }} - {{ employee.position.team }}
                {% endif %}
            </td>
            <td>{{ employee.dob }}</td>
            <td>{{ employee.remark }}</td>
            <td>
                <button class="btn btn-outline-black" hx-get="{% url 'hrm:employee_detail' employee.id %}">Details</button>
            </td>
        </tr>
    {% endfor %}
{% endblock tbody %}