{% extends "base/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock title %}

{% block main %}
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                    <h1>{% trans "Password Reset" %}</h1>
                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}

                    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                    <form
                        hx-post="{% url 'account_reset_password' %}"
                    >
                        {% csrf_token %}

                        {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}

                        {% if form.email.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ form.email.errors }}
                            </div>
                        {% endif %}
                        <div class="form-outline mb-4">
                            <input type="email" name="email" placeholder="Email address" autocomplete="email" required="" id="id_email" class="form-control form-control-lg" />
                            <label class="form-label" for="id_email">Email</label>
                        </div>

                        <button class="btn btn-black btn-lg btn-block" type="submit">
                            {% trans 'Reset My Password' %}
                        </button>

                        <hr class="mx-4">

                        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}