{% extends 'base/base.html' %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Profile" %}{% endblock title %}

{% block main %}
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                {{ user }}
            </div>
        </div>
    </div>
</div>
{% endblock main %}