<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-black bg-black">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <button class="navbar-brand btn btn-none m-0 p-2 text-white"
            hx-get="{% url 'intro:home' %}"
        >
            K-HRM
        </button>

        <!-- Toggle button -->
        <button
            class="navbar-toggler btn btn-none m-0 p-2 text-white"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarButtonsExample"
            aria-controls="navbarButtonsExample"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            {% if user.is_authenticated %}
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <button class="nav-link btn btn-none m-0 p-2 text-white"
                            hx-get="{% url 'intro:home' %}"
                        >Dashboard</button>
                    </li>
                    {% if user.is_staff or user.is_superuser %}
                    <li class="nav-item">
                        <button class="nav-link btn btn-none m-0 p-2 text-white"
                            hx-get="{% url 'intro:features' %}"
                        >Employees</button>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <button class="nav-link btn btn-none m-0 p-2 text-white"
                            hx-get="{% url 'intro:pricing' %}"
                        >Performance</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link btn btn-none m-0 p-2 text-white"
                            hx-get="{% url 'intro:about' %}"
                        >Reports</button>
                    </li>
                    {% if user.is_staff or user.is_superuser %}
                    <li class="nav-item">
                        <button class="nav-link btn btn-none m-0 p-2 text-white"
                            hx-get="{% url 'intro:contact' %}"
                        >Admin</button>
                    </li>
                    {% endif %}
                </ul>
                <!-- Left links -->

                <!-- Right elements -->
                <div class="d-flex align-items-center">
                    <div class="dropdown">
                        <button
                            class="btn btn-none dropdown-toggle btn btn-none m-0 p-2 text-white"
                            id="dropdownMenuLink"
                            data-mdb-toggle="dropdown"
                            data-mdb-auto-close="true"
                            aria-expanded="false"
                        >
                            {{ user.email }}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li>
                                <button class="dropdown-item"
                                    hx-get="{% url 'account_email' %}"
                                >Change Email</button>
                            </li>
                            <li>
                                <button class="dropdown-item"
                                    hx-get="{% url 'account_change_password' %}"
                                >Change Password</button>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <button class="dropdown-item text-danger"
                                    hx-get="{% url 'account_logout' %}"
                                >Logout</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Right elements -->
            {% else %}
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <button class="nav-link btn btn-none m-0 p-2 text-white"
                            hx-get="{% url 'intro:home' %}"
                        >Home</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link btn btn-none m-0 p-2 text-white"
                            hx-get="{% url 'intro:features' %}"
                        >Features</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link btn btn-none m-0 p-2 text-white"
                            hx-get="{% url 'intro:pricing' %}"
                        >Pricing</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link btn btn-none m-0 p-2 text-white"
                            hx-get="{% url 'intro:about' %}"
                        >About</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link btn btn-none m-0 p-2 text-white"
                            hx-get="{% url 'intro:contact' %}"
                        >Contact Us</button>
                    </li>
                </ul>
                <!-- Left links -->

                <div class="d-flex align-items-center">

                    <button type="button" class="btn btn-white px-4 me-2"
                        hx-get="{% url 'account_login' %}"
                    >
                        Signin
                    </button>
                    <button type="button" class="btn btn-outline-white px-4 me-2"
                        hx-get="{% url 'account_signup' %}"
                    >
                        Signup
                    </button>

                </div>
            {% endif %}
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->