<nav>
    <ul class="pagination pagination-sm justify-content-end">
        <form>
            <select class="form-select page-item" name="page_size" onchange="this.form.submit()">
                <option value="100" {% if request.GET.page_size == '100' %}selected{% endif %}>100</option>
                <option value="200" {% if request.GET.page_size == '200' %}selected{% endif %}>200</option>
                <option value="300" {% if request.GET.page_size == '300' %}selected{% endif %}>300</option>
            </select>
        </form>

        <li class="page-item">
            <button hx-get="?page=1{% if request.GET.page_size %}&&page_size={{ request.GET.page_size }}{% endif %}" class="page-link">&lt;&lt;</button>
        </li>
        <li class="page-item">
            <button hx-get="?page={% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% endif %}{% if request.GET.page_size %}&&page_size={{ request.GET.page_size }}{% endif %}" class="page-link" {% if not page_obj.has_previous %}disabled{% endif %}>&lt;</button>
        </li>

        {% for page_num in page_obj.paginator.page_range %}
            <li class="page-item">
                <button hx-get="?page={{ page_num }}{% if request.GET.page_size %}&&page_size={{ request.GET.page_size }}{% endif %}" class="page-link {% if page_num == page_obj.number %}active{% endif %}">{{ page_num }}</button>
            </li>
        {% endfor %}

        <li class="page-item">
            <button hx-get="?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% endif %}{% if request.GET.page_size %}&&page_size={{ request.GET.page_size }}{% endif %}" class="page-link"  {% if not page_obj.has_next %}disabled{% endif %}>&gt;</button>
        </li>
        <li class="page-item">
            <button hx-get="?page={{ page_obj.paginator.num_pages }}{% if request.GET.page_size %}&&page_size={{ request.GET.page_size }}{% endif %}" class="page-link">&gt;&gt;</button>
        </li>
    </ul>
</nav>