<nav>
    <ul class="pagination pagination-sm justify-content-end">
        <form id="search" class="page-item mx-2" hx-get="{{ request.path }}">
            <div class="row">
                <div class="input-group rounded col">
                    <input type="search" name="search_query" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" value="{% if request.GET.search_query %}{{ request.GET.search_query }}{% endif %}" />
                </div>

                <div class="input-group rounded col">
                    <select class="form-select" name="page_size">
                        <option value="100" {% if request.GET.page_size == '100' %}selected{% endif %}>100</option>
                        <option value="200" {% if request.GET.page_size == '200' %}selected{% endif %}>200</option>
                        <option value="300" {% if request.GET.page_size == '300' %}selected{% endif %}>300</option>
                    </select>
                </div>

                <div class="input-group rounded col">
                    <button type="submit" class="btn btn-black">Go</button>
                </div>
            </div>
        </form>

        <li class="page-item">
            <button hx-get="?page=1{% if request.GET.page_size %}&&page_size={{ request.GET.page_size }}{% endif %}{% if request.GET.search_query %}&&search_query={{ request.GET.search_query }}{% endif %}" class="page-link">&lt;&lt;</button>
        </li>
        <li class="page-item">
            <button hx-get="?page={% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% endif %}{% if request.GET.page_size %}&&page_size={{ request.GET.page_size }}{% endif %}{% if request.GET.search_query %}&&search_query={{ request.GET.search_query }}{% endif %}" class="page-link" {% if not page_obj.has_previous %}disabled{% endif %}>&lt;</button>
        </li>

        {% for page_num in page_obj.paginator.page_range %}
            <li class="page-item">
                <button hx-get="?page={{ page_num }}{% if request.GET.page_size %}&&page_size={{ request.GET.page_size }}{% endif %}{% if request.GET.search_query %}&&search_query={{ request.GET.search_query }}{% endif %}" class="page-link {% if page_num == page_obj.number %}active{% endif %}">{{ page_num }}</button>
            </li>
        {% endfor %}

        <li class="page-item">
            <button hx-get="?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% endif %}{% if request.GET.page_size %}&&page_size={{ request.GET.page_size }}{% endif %}{% if request.GET.search_query %}&&search_query={{ request.GET.search_query }}{% endif %}" class="page-link"  {% if not page_obj.has_next %}disabled{% endif %}>&gt;</button>
        </li>
        <li class="page-item">
            <button hx-get="?page={{ page_obj.paginator.num_pages }}{% if request.GET.page_size %}&&page_size={{ request.GET.page_size }}{% endif %}{% if request.GET.search_query %}&&search_query={{ request.GET.search_query }}{% endif %}" class="page-link">&gt;&gt;</button>
        </li>
    </ul>
</nav>

<script>
    // Get the form element
    const form = document.getElementById('search');

    // Add an event listener to prevent the default form submission
    form.addEventListener('submit', function(event) {
        event.preventDefault(); // Stop the default form submission

        // Perform any additional logic or processing here

        // Submit the form using JavaScript
        submitForm();
    });

    // Function to submit the form using JavaScript
    function submitForm() {
        form.submit();
    }
</script>