{% extends 'base/base.html' %}

{% load static %}

{% block title %}About{% endblock title %}

{% block main %}
<div class="container shadow-5-strong my-3 p-3">
    <h1 class="h1 text-center">About</h1>
    <div class="d-flex flex-column align-items-center lead">
        <img src="{% static 'k/k-software-house-gold.png' %}" alt="K Software House Gold Logo" class="img-thumbnail m-3">
        <p class="w-75">
            Welcome to K Software House, where we believe in providing top-quality software solutions for businesses of all sizes. Our team of experienced software developers offers custom software development, web and mobile app development, and software consulting services to help your business thrive.
        </p>
        <p class="w-75">
            Our process is designed to meet your unique needs and goals. We start with a discovery phase, working closely with you to understand your business requirements. In the design phase, we create a software solution that is tailored to your specific needs. Our development team then builds and implements the software, followed by thorough testing to ensure reliability and bug-free functionality. We provide ongoing support and maintenance during the deployment phase.
        </p>
    </div>
</div>
{% endblock main %}